* {
    box-sizing: border-box;
}
/* Header */

.slider-wrapper {
    height: 736px;
    background-image: url("../image/slider.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.slider-wrapper::before {
    width: 100%;
    height: 100%;
    content: "";
    background-color: #000;
    opacity: 0.7;
    position: absolute;
}

.header {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.header-menu {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.menu-left ul, 
.menu-right ul {
    display: flex;
}

.logo {
    margin: 0 60px;
}

.header-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-menu ul li {
    padding: 20px;
}

.header-menu ul li a {
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    color: #c6a88a;
    font-size: 14px;
}

.header-menu ul li.active a,
.header-menu ul li a:hover {
    color: #fff;
    text-decoration: none;
}

.header-menu ul li:hover a:before,
.header-menu ul li.active a:before {
    opacity: 1;    
 }

.header-menu ul li a::before {
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -3px;
    background-color: #c6a88a;
    position: absolute;
    opacity: 0;
}

.slider-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.slider-inner {
    display: flex;
    align-items:  center;
    justify-content: center;
    flex-direction: column;
}

.slider-action {
    padding: 60px;
}

.slider-action a {
    display: inline-block;
    font-size: 18px;
    line-height: 44px;
    background-color: #c6a88a;
    padding: 0 25px;
    margin: 0 15px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

.slider-action a:hover {
    background-color: #000;
    color: #c6a88a;
}

/* .owl-carousel {
    z-index: 0;
}
.slider-item {
    height: 736px;
    background-image: url("../images/slider.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
}

.item-1 {
    background-image: url("../images/banner__picture.jpg");
}

.item-2 {
    background-image: url("../images/about__us.jpg");
}

.owl-dots {
    position: absolute;
    bottom: 35px;
    left: 43%;
}

.owl-dots {
    width: 200px;
    position: absolute;
    left: 50.6%;
    margin-left: -100px
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background-color: whitesmoke;
    width: 55px;
    height: 4px;
    margin-inline: 5px;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot.active {
    background-color: #e7c09a;
    width: 55px;
    height: 4px;
    margin-inline: 5px;
} */

/* Container 1 */

.story-wrapper {
    max-width: 100%;
    background-image: url("../image/our__story.png");
    height: 852px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
}

.story-content {
    display: flex;
    align-items: center;
}

.story-right {
    margin-left: 88px;
    width: 100%;
}

.story-right span {
    display: inline-block;
    position: relative; 
}

.story-right span::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #c6a88a;
    top: 70%;
    width: 100%;
    left: 100%;
}

.animate__animated .animate__bounce {
    --animate-duration: 2s;
  }
  
  /* This changes all the animations globally */
  :root {
    --animate-duration: 800ms;
    --animate-delay: 5s;
  }

.story-right h2 {
    color: #c6a88a;
    text-transform: uppercase;
}

.story-right p {
    margin: 30px 0;
    text-align: justify;
    width: 50%;
}

.story-action a {
    display: inline-block;
    font-size: 18px;
    line-height: 44px;
    background-color: #c6a88a;
    padding: 0 25px;
    margin: 10px 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.story-action a:hover {
    background-color:  #fff;
    color: #c6a88a;
}

.story-center {
   margin-top: -150px;
   z-index: 1;
   position: relative;
}

.story-center ul {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.story-center ul li {
    margin: 0 50px;
    list-style: none;
}

.story-center ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    position: relative;
}

.story-center ul li.active a,
.story-center ul li a:hover {
    color:#c6a88a;
}

.story-center ul li.active a::before,
.story-center ul li:hover a:before {
    opacity: 1;
}

.story-center ul li a::before{
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -3px;
    background-color: #c6a88a;
    position: absolute;
    z-index: 1;
    opacity: 0;
}

/* Container 2 */

.layout_menu {
    height: 690px;
    background-image: url(../image/banner__picture.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#menu {
    display: flex;
}

.no-gutters {
    margin-bottom: 5%;
}

.row-left{
    padding-top: 5%;
}

.row-right {
    height: 568px;
    width: 572px;
    background-image: url("../image/picture__right.png");
    background-size:cover;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    flex-wrap: wrap;
    padding-top: 200px;
    margin-top: 65px;
    margin-left: 20px;
}

.row-center button {
    background-color: #c6a88a;
    border: none;
    color: #fff;
    padding: 0 50px;
    line-height: 120px;
    font-size: 40px;
    margin-bottom: 20px;
    transition: 0.5s;
}

.row-center button:hover {
    background-color: #fff;
    color: #c6a88a;
    transition: 0.5s;
}

.row-center h5 {
    margin-bottom: 20px;
}

.row-center a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background-color: #c6a88a;
    transition: 0.5s;
}

.row-center a:hover {
    color: #c6a88a;
    background-color: #fff;
    transition: 0.5s;
}

/* Container 3 */

.layout_service {
    background-image: url(../image/our_services.png);
    background-size: cover;
    height: 891px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.services__content_title {
    margin: auto;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.services__content_title span {
    display: inline-block;
    content: "";
    height: 40pt;
    border-bottom: 2px solid #c6a88a;
    width: 70%;
}

.services__content_title h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #c6a88a;
}

.services__content_title p {
    margin-top: 10px;
}

.services__content {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.services__left,
.services__right {
    width: 49%;
}

.services__left {
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
}

.services__left-items_1 {
    width: 49%;
    margin-bottom: 10px;
    background-image: url("../image/our__services__items__1.png");
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
 }

 .services__left-items {
    background-color: #c6a88a;
    width: 49%;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    color: #fff;
}

.services__left-items a {
    text-decoration: none;
    color: #c6a88a;
    background-color: #fff;
    padding: 10px 20px;
    transition: 0.5s;
}

.services__left-items a:hover {
    color: #c6a88a;
    background-color: #000;
    opacity: 0.5;
    transition: 0.5s;
}

.services__left-items_2 {
    width: 49%;
    margin-bottom: 10px;
    background-image: url("../image/our__services__items__2.png");
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
}

.services__left-items_2 a {
    text-decoration: none;
    background-color: #fff;
    padding: 25px 35px;
    font-size: 20px;
    color: #c6a88a;
    transition: 0.5s;
    opacity: 0.9;
}

.services__left-items_2 a:hover {
    color: #fff;
    background-color: #c6a88a;
    transition: 0.5s;
}

.services__right {
    margin-bottom: 10px;
    position: relative;
    transition: 0.5s;
    background-image: url("../image/our__services__picture.png");
    background-size: cover;
 }

.services__right-content {
    position: absolute;
    opacity: 0.7;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 250px;
    display: flex;
    justify-content: center;
 }

.services__right-item {
    padding-top: 20px;
    position: absolute;
    z-index: 1;
    color: #fff;
    text-align: center;
}

.services__right-item span {
    content: "";
    border-bottom: 2px solid #c6a88a;
    width: 60%;
    height: 30pt;
    display: inline-block;
}

.services__right-item p {
    margin-top: 10pt;
}

.services__right-item a {
    text-decoration: none;
    color: #fff;
    background-color: #c6a88a;
    padding: 10px 20px;
    transition: 0.5s;
}

.services__right-item a:hover {
    color: #c6a88a;
    background-color: #fff;
    transition: 0.5s;
}
/* Container 4 */
.about_us {
    height: 730px;
    background-image: url(../image/about__us.png);
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
}

.about__us-button button {
    padding: 50px 20px;
    background-color: #c6a88a;
    border: none;
    transition: 0.3s;
}

.about__us-button a {
    color: #fff;
}

.about__us-button a:hover {
    color: #fff;
}

.about__us-button button:hover {
    padding: 55px 25px;
    transition: 0.3s;
}

.about__us-content {
    width: 100%;
    display: flex;
}

.about__us-left {
    margin-left: 20px;
    display: flex;
}

.about__us-title {
    width: 90%;
    text-align: center;
    color: #fff;
    background-color: #c6a88a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 10px;
}

.about__us-title1 h3 {
    font-size: 17px;
}

.about__us-title1 p {
    font-size: 15px;
}

.about__us-title a {
    border: 2px solid #fff;
    padding: 23px 26px;
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 12pt;
    transition: 0.3s;   
}

.about__us-title a:hover {
    background-color: #fff;
    opacity: 1;
    color: #c6a88a;
    transition: 0.3s;
}

.about__us-title2 {
    width: 90%;
    padding: 50px 30px 54px 30px;
    background-color: #c6a88a;
    text-align: center;
}

.about__us-title2 a {
    text-decoration: none;
    font-size: 17px;
    border: 2px solid #fff;
    color: #fff;
    padding: 15px 10px;
    transition: 0.3s;
}

.about__us-title2 a:hover {
    color: #c6a88a;
    background-color: #fff;
    transition: 0.3s;
}

.about__us-right {
    width: 50%;
}

.about__us-right_item span {
    content: "";
    display: inline-block;
    border-bottom: 2px solid #c6a88a;
    height: 35pt;
    width: 70%;
}

.about__us-right_item h2 {
    font-size: 25px;
    color: #c6a88a;
}

.about__us-right_item p {
    color: #fff;
    width: 70%;
    text-align: unset;
    margin-top: 10px;
}

/* Container 5 */

.contact {
    background-image: url(../image/contact__us.png);
    background-size: cover;
    position: relative;
    height: 852px;
}

.contact__item {
    padding-top: 85px;
    padding-left: 160px;
    text-align: justify;
    width: 35%;
}

.contact__item span {
    content: "";
    border-bottom: 2px solid #c6a88a;
    height: 30pt;
    display: inline-block;
    width: 60%;
}

.contact__item h3 {
    color: #c6a88a;
}

.contact__form {
    width: 50%;
    margin: 10px 50px;
    background: #c6a88a;
    position: relative;
    z-index: 1;
    opacity: 1;
}

.contact__form form {
    display: inline-block;
    width: 80%;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}



.contact__form input {
    background-color: #c6a88a;
    border: 1px solid #fff;
    color: white;
    position: relative;
}

.form-control {
    position: relative;
    background: transparent;
}

/* :focus{
    outline: none;
} */

.form-control ~ .focus-bg {
    position: absolute;
    left: 50%;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #ededed;
    transition: 0.3s;
    z-index: -1;
}

.form-control:focus ~ .focus-bg{
    transition: 0.3s;
    width: 100%;
    left: 0;
  }

.contact__form input:focus {
    background-color: #c6a88a;
    border: 1px solid #fff;
    color: white;
    cursor: text;
}


.contact__form textarea {
    background-color: #c6a88a;
    border: 1px solid #fff;
    color: white;
    resize: none; /* Tắt đi cái mở rộng */
}

.contact__form textarea:focus {
    background-color: #c6a88a;
    border: 1px solid #fff;
    color: white;
} 

.contact__form button {
    background-color: #fff;
    border: none;
    color: black;
}

.contact__form button:hover {
    background-color: black;
    opacity: 0.7;

}

.contact__map {
    position: absolute;
    right: 50px;
    top: 80px;
}

/* Footer */
.footer {
    background-image: url(../image/footer.png);
    background-size: cover;
    height: 325px;
}

.footer__menu {
    display: flex;
    padding: 40px 20px;
    border-bottom: 2px solid #c6a88a;
    width: 100%;
}

.footer__left {
    width: 70%;
    display: flex;
}

.footer__left ul {
    list-style: none;
    color: white;
}

.footer__left ul a {
    text-decoration: none;
    color: #fff;
}

.footer__left ul a:hover {
    color: #c6a88a;
}

.footer__right {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer__right a {
    font-size: 25px;
    color: #fff;
}

.footer__right a:hover {
    color: #fff;
}

.footer__right img {
    margin-top: 5px;
    width: 80%;
}

.footer__introduce {
    margin-top: 10px;
    margin-left: 50px;
}

.footer__introduce a {
    color: #fff;
    text-decoration: none;
}
.footer__introduce a:hover {
    color: #c6a88a;
}